/*
 * libo.shell.css
 * Shell styles
 */




/* styling 4 larger components */
/* top, panel, bottom, modal */


.libo-shell-top {
	padding-top: 3px;
	height: 90px;
	background: #7dc;
	box-shadow: 0 0 10px #333;
}

.libo-shell-panel {
	margin: 20px auto;
	width: 960px;
	/*background: yellow;*/
	border-radius: 5px;
	min-height: 420px;
}

.libo-shell-bottom {
	min-height: 140px;
	width: 960px;
	background: #ddd;
	margin: 0 auto;
	padding: 15px;
	border-radius: 10px 10px 0 0;
	box-shadow: 0 0 10px #333;
}

.libo-shell-modal {}



/* styling each components */
/* part 1 - top */

.libo-shell-header {
	margin: 0 auto;
	padding-left: 10px;
	width: 960px;
	height: 42px;
	border-radius: 10px 10px 0 0;
}

.header-logo, .header-search, .header-acct {
	padding: 3px 0 0 6px;
}

.header-logo, .header-search {
	float: left;
}

.header-acct {
	position: relative;
	float: right;
	text-align: center;
}

.header-logo {
	width: 200px;
	height: 40px;
	border: 1px solid #8ed;
	background: #7dc;
	border-radius: 5px;
}

.header-search-box {
	height: 32px;
	width: 200px;
	font-size: 1em;
	border-radius: 10px;
	background: #444;
	color: #eee;
}
	.header-search-box:focus {
		width: 300px;
		background: #333;
		outline: 0;
	}

.header-search-go {
	height: 21px;
	width: 21px;
	background: gray;
}

.header-acct-btn {
	display: inline-block;
	margin: 0 6px;
	width: 100px;
	height: 36px;
	padding: 6px;
	background: #eee;
	color:#3bc;
	border-radius: 18px;
}
	.header-acct-btn:hover {
		background: #888;
		color:#fff;
	}

.header-acct-dropdown {
	width: 210px;
	background: #eee;
	z-index: 10;
	position: absolute;
	top: 40px;
	right: 6px;
	border-radius: 6px;
	box-shadow: 0 0 5px #165;
}
	.header-acct-dropdown ul li {
		height: 30px;
		border-bottom: 1px solid #ddd;
	}
	.header-acct-dropdown ul li:hover {
		background: #888;
		color: #fff;
	}

	.header-acct-dropdown ul li:last-child {
		border-bottom: 0;
	}
	.header-acct-dropdown .dropdown-msg {

	}
	.header-acct-dropdown .dropdown-user {
		
	}

.libo-shell-nav {
	margin: 0 auto;
	padding: 3px;
	height: 42px;
	width: 960px;
}


.nav-btn {
	text-align: center;
	margin: 3px 6px;
	padding: 4px 12px;
	height: 30px;
	min-width: 100px;
	border-radius: 15px;
	display: inline-block;
	background: #eee;
	color: #3bc;
}
	.nav-btn:hover {
		background: #888;
		color: #fff;
	}

.libo-shell-brim {
	height: 20px;
	position: absolute;
	top:0px;
	left: 0px;
	right: 0px;
	z-index: 5;
	background: black;
}






/* part 2 - panel */

.panel-upper {
	width: 960px;
	height: 40px;
}

.panel-left {
	width: 300px;
	min-height: 400px;
	padding: 10px;
	float: left;
	background: purple;
	z-index: 5;	
}

.panel-right {
	width: 660px;
	min-height: 400px;
	padding: 10px;
	float: right;
	font-size: 1.2em;
	/* background: white;/* #cce8cf*/
	z-index: 5;
	/* overflow-x: auto; */
}

.panel-right-book {
	background: white;
	box-shadow: 0 0 10px #444;
}

.panel-lower {
	width: 960px;
	height: 10px;
}






/* part 3 - footer */

.libo-shell-bottom {
	background: #aaa;
}

.footer-left {
	float: left;
}

.footer-right {
	float: right;
}











/* part 4 - reader */

.libo-shell-reader-fullscreen {
	position: absolute;
	background: white;
	top: 0;
	left: 0;
	right:0;
	bottom: 0;
}


.libo-shell-reader-nav {
	position: fixed;
	width: 60px;
	height: 60px;
	background: #ccc;
	font-size: 3em;
	text-align: center;
	z-index: 5;
}
	.libo-shell-reader-nav:hover {
		background: #fff;
	}

.libo-shell-reader-menushow {
	left:0;
	top: 0;
	border-radius: 0 0 10px 0;
}

.libo-shell-reader-previous {
	left: 0;	
	bottom: 0px;
	border-radius: 0 10px 10px 0;
}

.libo-shell-reader-next {
	right: 0;
	bottom: 0px;
	border-radius: 10px 0 0 10px;
}

.libo-shell-reader-menu {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 360px;
	padding: 60px 15px;
	overflow-y: auto;
	background: #fff;
	border-radius: 0 0 10px 0;
	box-shadow: 0 0 10px 0 #444;
}
	.libo-shell-reader-menu h3 {
		color: #aaa;
	}
	.libo-shell-reader-menu p {
		color: #aaa;
		text-indent: 20;
	}

	.libo-shell-reader-menu .released {
		color: black;
	}
	.libo-shell-reader-menu .released:hover {
		background: #ddd;
	}



